@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf'); 
    }
    
    @font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf'); 
    }
    
    @font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf'); 
    }
    
    @font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
    }
    
    html,body{
      color: rgb(35, 45, 100);
      font-size: 12px;
      overflow-x: hidden !important;
    font-family: tahoma !important;
    }
      .imgWrapper{
        background-color:rgba(255, 155, 68, 0.2);;
        width: 39px;
        height: 39px;
        padding: 7px;
        margin-bottom: -20px;
        margin-top: -20px;
        border-radius: 50%;
      }
    
      .bs-tooltip-top{
        padding: -10rem 0;
      }
    
      
    
      .dropdown-menu{
        border-color: transparent;
      }
    
      .dropdown-item{
        font-size: 14px;
      }
    
     
      .breadcrumb{
        font-size: 13px;
      }
    
      .nav-item{
        font-weight: 429;
        line-height: 25px;
      }
    
    
      .nav-link{
    
        color:  #fff !important;
        font-size: 13px;
    
      }
      .nav-link2:hover{
       background:rgb(64, 60, 93,.7);
        color: #8e98d7 !important;
        font-size: 13px;
      }
    
    
      .logoText{
        font-size: 24px !important;
      margin-top:-9px !important;
      color:  rgb(35, 45, 100) !important;
      }
    
      .main-sidebar{
          -webkit-box-shadow: 0 1rem 1rem rgba(46, 68, 105, 0.175) !important;
    box-shadow: 0 1rem 1rem rgba(46, 68, 105, 0.175) !important;
      }
    
      .content-wrapper{
        background-color:#f5f7f8 !important;
      }
    
      .os-theme-light>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle {
      background: #dfe3e8  !important;
    }
    
    #infoNo{
    font-size:33px;
    color: #647489;
    }
    
    .bg-warning{
    background-color: #F96F34 !important;
    }
    .bg-info{
    background-color: #668cff !important;
    }
    
    .info-box-content{
    position:absolute; right: 0 !important;
    }
    
    .info-box-text{
    font-weight: bold;
    }
    
    .info-box .info-box-icon {
      border-radius: 0.25rem;
      -ms-flex-align: center;
      align-items: center;
      display: -ms-flexbox;
      display: flex;
      font-size: 1.875rem;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
      width: 65px;
      margin-left:10px;
    }
    
    .breadcrumb{
    font-size: 12px;
    }
    
    .dropdown-item{
    font-size: 12px;
    }
    
    tr th, tr td, label{
    color: #6c757d !important;
    }
    
    .pillLink {
    
    color: #333 !important;
    }
    
    
    
    .nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
    background-color: #0033cc;
    border-color: #0033cc;
    color: #fff !important;
    -webkit-box-shadow: 0 1rem 3rem rgba(172, 56, 6, 0.175) !important;
    box-shadow: 0 1rem 3rem rgba(172, 56, 6, 0.175) !important;
    }
    
    .btn-default:focus{
     background-color: #0033cc;
    border-color: #0033cc;
    color: #fff !important;
    -webkit-box-shadow: 0 1rem 3rem rgba(172, 56, 6, 0.175) !important;
    box-shadow: 0 1rem 3rem rgba(172, 56, 6, 0.175) !important;
    }
    
    .btn-default:hover{
     background-color: #0033cc;
    border-color: #0033cc;
    color: #fff !important;
    -webkit-box-shadow: 0 1rem 3rem rgba(172, 56, 6, 0.175) !important;
    box-shadow: 0 1rem 3rem rgba(172, 56, 6, 0.175) !important;
    }
    
    .files input {
      outline: 2px dashed #92b0b3;
      outline-offset: -10px;
      -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
      transition: outline-offset .15s ease-in-out, background-color .15s linear;
      padding: 120px 0px 85px 35%;
      text-align: center !important;
      margin: 0;
      width: 100% !important;
    }
    .files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
      -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
      transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
    }
    .files{ position:relative}
    .files:after {  pointer-events: none;
      position: absolute;
      top: 60px;
      left: 0;
      width: 50px;
      right: 0;
      height: 56px;
      content: "";
      background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
      display: block;
      margin: 0 auto;
      background-size: 100%;
      background-repeat: no-repeat;
    }
    .color input{ background-color:#f1f1f1;}
    .files:before {
      position: absolute;
      bottom: 10px;
      padding-top:30px !important;
      left: 0;  pointer-events: none;
      width: 100%;
      right: 0;
      height: 57px;
      content: "Drag and drop a file here/ Click to select. ";
      display: block;
      margin: 0 auto;
      color: #2ea591;
      font-weight: 600;
      text-transform: capitalize;
      text-align: center;
    }
    
    
    
    
    .bg-primary, .btn-primary{
        background-color: #00a65a;
        border-color: #00a65a;
        /* background-color: #668cff;
      border-color: #668cff; */
    }
    
    .bg-success,  .alert-success
    {
    background-color: #00cc44;
    border-color: #00cc44;
    }
    
    .btn-warning,.bg-warning,  .alert-warning
    {
    background-color: #F96F34;
    border-color: #F96F34;
    color: #fff;
    }
    .btn-submit{
    transition: 0.4s;
    }
    
    .alert-danger{
    background-color: rgb(220, 53, 69);
    color: #fff;
    font-size: 10px;
    }
    
    .btn-warning1:hover{
    /* background-color: #f75008;
    border-color: #f75008; */
    background-color: #00a65a;
    border-color: #00a65a;
    color: #fff;
    }
    
    .btn-primary1.active{
      background-color: #00a65a;
        border-color: #00a65a;
    /* background-color: #f75008;
    border-color: #f75008; */
    color: #fff;
    }
    
    .btn-submit:hover, .btn-warning:hover,.btn-primary:hover,.btn-danger:hover,.btn-success:hover{
    -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    }
    
    .btn-submit:focus, .btn-warning:focus,.btn-primary:focus,.btn-danger:focus,.btn-success:focus{
    -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    }
    
    .btn-primary1{
    background-color: transparent;
      border-color: #0033cc;
      color: #0033cc;
    }
    
    .btn-success1{
    background-color: transparent;
    border-color: #00cc44;
    color:#00cc44; 
    }
    
    .btn-secondary1{
    
    background-color: transparent;
      border-color: #993399;
      color: #993399;
    }
    
    .btn-secondary1:focus{
    
    background-color: #993399;
      border-color: #993399;
      color: #fff;
    }
    
    .btn-warning1{
    
    background-color: transparent;
      border-color: #F96F34;
      color: #F96F34;
    }
    
    .btn-primary1:focus{
        background-color: #0063cc;
      border-color: #0063cc;
      color: #fff;
    }
    
    .btn-warning1:focus{
    background-color: #f75008;
      border-color: #f75008;
      color: #fff;
    }
    
    .btn-success1:focus{
    background-color:  #00cc44;
      border-color:  #00cc44;
      color: #fff;
    
    }
    
    .modal-content {
    
    -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    
    background-color: #fff;
    border-color: transparent;
    
    }
    
    .modal-dialog {
    margin-top: 40px !important;
    }
    
    .profileHolder{
    border:5px solid #f9f8f8;
    }
    
    .modalCardBody{
    background:#eef2f4;
    border-radius:2px;
    margin-top:-3px !important;
    margin:30px 20px;
    }
    
    .modal-body {
    
    padding: 2rem;
    background-color: #fff;
    }
    
    .modal-backdrop {
    background-color: #000;
    transition:1.0s linear;
    }
    
    .modal-backdrop.fade {
    opacity: 0;
    }
    
    .modal-backdrop.show {
    opacity: 0.03;
    }
    
    
    
    .btn-error{
    position: fixed;
    z-index: 999;
    display: none;
    right:0;
    margin-right: 5px;
    }
    
    .errorSheet{
    display: none;
    right: 0;
    z-index: 999;
    position: fixed;
    margin-right: 5px;
    top:200px;
    min-width: 300px;
    }
    
    #nameError,#passwordError,#contactError,#cPasswordError,#emailError{
    display: none;
    }
    
    .imageHolder{
    width: 97px;
    height: 97px;
    border: 3px solid #d1d3e2 !important;
    border-radius: 4px;
    margin-bottom: 7px;
    position: absolute;
    z-index: 999;
    right: 0;
    margin-right: 30px;
     margin-top: 40px;
    }
    
    
    /**.sidebar, .brand-link{
     background: #2e4469; /* For browsers that do not support gradients 
    background: -webkit-linear-gradient(left,#2e4469,#273959); 
    background: -o-linear-gradient(right,#2e4469,#273959);
    background: -moz-linear-gradient(right,#2e4469,#273959); 
    background: linear-gradient(to right, #2e4469,#273959);  
    }
    */
    
    .border-bottom{
    border-bottom: 1px solid #2f456a !important;
    }
    
    #progress {   
    border-bottom: 5px solid #fff;
    width: 0;
    position: relative;
    margin-top: 0px;
    left: 0;
    border-radius: 3px 3px 0px 0px;
    transition: .7s linear;
    }
    
    
    hr{
          height: 1px;
          background-color: #d4d7de;
          border: none;
      }
    
      .infoText{
        font-size: 14px;
      }
    
    .btn-header{
    background: #F96F34;
    border-color: #F96F34;
    font-size: 17px !important;
    font-family: calibri;
    border-radius: 40px;
    -webkit-box-shadow: 0 1rem 3rem rgba(250, 132, 82, 0.175) !important;
    box-shadow: 0 1rem 3rem rgba(250, 132, 82, 0.175) !important;
    }
    
    .btn-header:hover{
     background: #1f3c6b;
    border-color: #1f3c6b;
    }
    
    .btn-header a:hover{
    color: #fff !important;
    
    }
    
    .btn-toggle{
    background: #1f3c6b;
    border-color: #1f3c6b;
    -webkit-box-shadow: 0 1rem 3rem rgba(251, 167, 131, 0.475) !important;
    box-shadow: 0 1rem 3rem rgba(251, 167, 131, 0.475) !important;
    position: relative;
    margin-left:-34px;
    z-index:9999 !important;
    border-radius: 30%;
    }
    
    .btn-toggle:hover{
    background: #00a65a;
    border-color: #00a65a;
    }
    
    .btn-toggle a:hover{
    color: #fff;
    /* background: #F96F34;
    border-color: #F96F34; */
    background-color: #00a65a;
    border-color: #00a65a;
    }
    
    .btn-primary{
     /* background-color: #f96f34;
    border-color: #f96f34; */
    background-color: #00a65a;
    border-color: #00a65a;
    color: #fff !important;
    -webkit-box-shadow: 0 1rem 3rem rgba(172, 56, 6, 0.175) !important;
    box-shadow: 0 1rem 3rem rgba(172, 56, 6, 0.175) !important;
    }
    
    .btn-primary:active{
     /* background-color: #f96f34;
    border-color: #f96f34; */
    background-color: #00a65a;
        border-color: #00a65a;
    color: #fff !important;
    -webkit-box-shadow: 0 1rem 3rem rgba(172, 56, 6, 0.175) !important;
    box-shadow: 0 1rem 3rem rgba(172, 56, 6, 0.175) !important;
    }
    
    
    
    .btn-primary:focus{
     /* background-color: #f96f34;
    border-color: #f96f34; */
    background-color: #00a65a;
    border-color: #00a65a;
    color: #fff !important;
    -webkit-box-shadow: 0 1rem 3rem rgba(172, 56, 6, 0.175) !important;
    box-shadow: 0 1rem 3rem rgba(172, 56, 6, 0.175) !important;
    }
    
    .loader1 {
    border: 16px solid #f97339;
    border-radius: 50%;
    border-top: 16px solid #f96f34;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    }
    
    @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }
    
    .text-warning{
    color: #F96F34 !important;
    }
    
    #brick {
    width: 40px;
    height: 20px;
    background: #EE6B47;
    position: relative;
    cursor: pointer;
     display: none;
    }
    
    .theme-purple{
    background: linear-gradient(-135deg,#899FD4 0%,#A389D4 100%);
    }
    .theme-green{
        background: linear-gradient(-135deg,#1de9b6 0%,#1dc4e9 100%);
    }
    
    .theme-green-text{
    color: #1dc4e9;
    }

    .box{position:relative;border-radius:3px;background:#ffffff;border-top:3px solid #d2d6de;margin-bottom:20px;width:100%;box-shadow:0 1px 1px rgba(0,0,0,0.1)}
.box.box-primary{border-top-color:#3c8dbc}
.box.box-info{border-top-color:#00c0ef}
.box.box-danger{border-top-color:#dd4b39}
.box.box-warning{border-top-color:#f39c12}
.box.box-success{border-top-color:#00a65a}
.box.box-default{border-top-color:#d2d6de}
.box.collapsed-box .box-body,.box.collapsed-box .box-footer{display:none}
.box .nav-stacked>li{border-bottom:1px solid #f4f4f4;margin:0}
.box .nav-stacked>li:last-of-type{border-bottom:none}
.box.height-control .box-body{max-height:300px;overflow:auto}
.box .border-right{border-right:1px solid #f4f4f4}
.box .border-left{border-left:1px solid #f4f4f4}
.box.box-solid{border-top:0}.box.box-solid>.box-header .btn.btn-default{background:transparent}
.box.box-solid>.box-header .btn:hover,.box.box-solid>.box-header a:hover{background:rgba(0,0,0,0.1)}
.box.box-solid.box-default{border:1px solid #d2d6de}
.box.box-solid.box-default>.box-header{color:#444;background:#d2d6de;background-color:#d2d6de}
.box.box-solid.box-default>.box-header a,.box.box-solid.box-default>.box-header .btn{color:#444}
.box.box-solid.box-primary{border:1px solid #3c8dbc}
.box.box-solid.box-primary>.box-header{color:#fff;background:#3c8dbc;background-color:#3c8dbc}
.box.box-solid.box-primary>.box-header a,.box.box-solid.box-primary>.box-header .btn{color:#fff}
.box.box-solid.box-info{border:1px solid #00c0ef}
.box.box-solid.box-info>.box-header{color:#fff;background:#00c0ef;background-color:#00c0ef}
.box.box-solid.box-info>.box-header a,.box.box-solid.box-info>.box-header .btn{color:#fff}
.box.box-solid.box-danger{border:1px solid #dd4b39}
.box.box-solid.box-danger>.box-header{color:#fff;background:#dd4b39;background-color:#dd4b39}
.box.box-solid.box-danger>.box-header a,.box.box-solid.box-danger>.box-header .btn{color:#fff}
.box.box-solid.box-warning{border:1px solid #f39c12}
.box.box-solid.box-warning>.box-header{color:#fff;background:#f39c12;background-color:#f39c12}
.box.box-solid.box-warning>.box-header a,.box.box-solid.box-warning>.box-header .btn{color:#fff}
.box.box-solid.box-success{border:1px solid #00a65a}
.box.box-solid.box-success>.box-header{color:#fff;background:#00a65a;background-color:#00a65a}
.box.box-solid.box-success>.box-header a,.box.box-solid.box-success>.box-header .btn{color:#fff}
.box.box-solid>.box-header>.box-tools .btn{border:0;box-shadow:none}
.box.box-solid[class*='bg']>.box-header{color:#fff}
.box .box-group>.box{margin-bottom:5px}
.box .knob-label{text-align:center;color:#333;font-weight:100;font-size:12px;margin-bottom:.3em}
.box>.overlay,.overlay-wrapper>.overlay,.box>.loading-img,.overlay-wrapper>.loading-img{position:absolute;top:0;left:0;width:100%;height:100%}
.box .overlay,.overlay-wrapper .overlay{z-index:50;background:rgba(255,255,255,0.7);border-radius:3px}
.box .overlay>.fa,.overlay-wrapper .overlay>.fa{position:absolute;top:50%;left:50%;margin-left:-15px;margin-top:-15px;color:#000;font-size:30px}
.box .overlay.dark,.overlay-wrapper .overlay.dark{background:rgba(0,0,0,0.5)}
.box-header:before,.box-body:before,.box-footer:before,.box-header:after,.box-body:after,.box-footer:after{content:" ";display:table}
.box-header:after,.box-body:after,.box-footer:after{clear:both}
.box-header{color:#444;display:block;padding:10px;position:relative}
.box-header.with-border{border-bottom:1px solid #f4f4f4}
.collapsed-box .box-header.with-border{border-bottom:none}
.box-header>.fa,.box-header>.glyphicon,.box-header>.ion,.box-header .box-title{display:inline-block;font-size:18px;margin:0;line-height:1}
.box-header>.fa,.box-header>.glyphicon,.box-header>.ion{margin-right:5px}
.box-header>.box-tools{position:absolute;right:10px;top:5px}
.box-header>.box-tools [data-toggle="tooltip"]{position:relative}
.box-header>.box-tools.pull-right .dropdown-menu{right:0;left:auto}
.box-header>.box-tools .dropdown-menu>li>a{color:#444 !important}
.btn-box-tool{padding:5px;font-size:12px;background:transparent;color:#97a0b3}
.open .btn-box-tool,.btn-box-tool:hover{color:#606c84}
.btn-box-tool.btn:active{box-shadow:none}
.box-body{border-top-left-radius:0;border-top-right-radius:0;border-bottom-right-radius:3px;border-bottom-left-radius:3px;padding:10px}
.no-header .box-body{border-top-right-radius:3px;border-top-left-radius:3px}
.box-body>.table{margin-bottom:0}.box-body .fc{margin-top:5px}
.box-body .full-width-chart{margin:-19px}
.box-body.no-padding .full-width-chart{margin:-9px}
.box-body .box-pane{border-top-left-radius:0;border-top-right-radius:0;border-bottom-right-radius:0;border-bottom-left-radius:3px}.box-body .box-pane-right{border-top-left-radius:0;border-top-right-radius:0;border-bottom-right-radius:3px;border-bottom-left-radius:0}.box-footer{border-top-left-radius:0;border-top-right-radius:0;border-bottom-right-radius:3px;border-bottom-left-radius:3px;border-top:1px solid #f4f4f4;padding:10px;background-color:#fff}.chart-legend{margin:10px 0}@media (max-width:991px){.chart-legend>li{float:left;margin-right:10px}}.box-comments{background:#f7f7f7}.box-comments .box-comment{padding:8px 0;border-bottom:1px solid #eee}.box-comments .box-comment:before,.box-comments .box-comment:after{content:" ";display:table}.box-comments .box-comment:after{clear:both}.box-comments .box-comment:last-of-type{border-bottom:0}.box-comments .box-comment:first-of-type{padding-top:0}
.box-comments .box-comment img{float:left}



.box-comments .comment-text{margin-left:40px;color:#555}
.box-comments .username{color:#444;display:block;font-weight:600}
.box-comments .text-muted{font-weight:400;font-size:12px}
.box-widget{border:none;position:relative}


.card-background{
    background:#eef2f4 !important;
    border-radius:2px;
    margin-top:-3px!important;
    margin:10px 5px
}
.border-radius{
    border-radius: 20px;
}

/* product list css */
.products-list{list-style:none;margin:0;padding:0}
.products-list>.item{border-radius:3px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.1);box-shadow:0 1px 1px rgba(0,0,0,0.1);padding:10px 0;background:#fff}
.products-list>.item:before,.products-list>.item:after{content:" ";display:table}
.products-list>.item:after{clear:both}
.products-list .product-img{float:left}
.products-list .product-img img{width:50px;height:50px}
.products-list .product-info{margin-left:60px}
.products-list .product-title{font-weight:600}
.products-list .product-description{display:block;color:#999;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.product-list-in-box>.item{-webkit-box-shadow:none;box-shadow:none;border-radius:0;border-bottom:1px solid #f4f4f4}
.product-list-in-box>.item:last-of-type{border-bottom-width:0}